<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        /* .div
        {
            margin-right:10px;
        } */
        .img
        {
            margin-left:-180px;
            margin-bottom:90px;
        }
    </style>
</head>
<body>
        <img src="{% static 'img/card.png' %}" alt="" height="225px" style="margin-right:50px;">
        <img src="{% static 'img/qr.png' %}" alt="" height="75px" class="img" style="margin-right:50px;">


        <img src="{% static 'img/card.png' %}" alt="" height="225px" style="margin-right:50px;">
        <img src="{% static 'img/qr.png' %}" alt="" height="75px" class="img" style="margin-right:50px;">

        <img src="{% static 'img/card.png' %}" alt="" height="225px" style="margin-right:50px;">
        <img src="{% static 'img/qr.png' %}" alt="" height="75px" class="img" style="margin-right:50px;">


        <img src="{% static 'img/card.png' %}" alt="" height="225px" style="margin-right:50px;">
        <img src="{% static 'img/qr.png' %}" alt="" height="75px" class="img" style="margin-right:50px;">


    




</body>
</html>

