{% extends 'astone_admin/base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid px-4">
    <h1 class="mt-4">View & Update Commissions</h1>

</div>
<div class="container mt-5">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>User Id</th>
                <th>Username</th>
                <th>Coupon Code</th>
                <th>Reward Amount</th>
                <th>Referral Code Used</th>
                <th>Product Id</th>
                <th>Product Name</th>
                <th>Product Price</th>
                <th>Scanned On</th>
                <th>Payment Status</th>
                <th>Referral Commission</th>
                <th>Commission Status</th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for i in rewards %}
            <tr>
                <td><a href="{% url 'viewusersingle' i.userid %}" style="text-decoration:none; color:black;">{{i.userid}}</a></td>
                <td><a href="{% url 'viewusersingle' i.userid %}" style="text-decoration:none; color:black;">{{i.username}}</a></td>
                <td><a href="{% url 'viewproductsingle' i.productid %}" style="text-decoration:none; color:black;">{{i.couponcode}}</a></td>
                <td style="color:green; font-weight:600;">₹{{i.rewardamount}}</td>
                <td><a href="{% url 'viewusersingle2' i.refferalcode %}" style="text-decoration:none; color:black;">{{i.refferalcode}}</a></td>
                <td><a href="{% url 'viewproductsingle' i.productid %}" style="text-decoration:none; color:black;">{{i.productid}}</a></td>
                <td><a href="{% url 'viewproductsingle' i.productid %}" style="text-decoration:none; color:black;">{{i.productname}}</a></td>
                <td>₹{{i.productprice}}</td>
                <td>{{ i.scannedon|date:"d-m-Y" }}</td>
                <td>{{i.paymentstatus}}</td>
                <td>₹{{i.commission}}</td>
                <td>{{i.commissionstatus}}</td>

                <td><a href="{% url 'update_commission' i.pk %}" class="btn btn-primary">Update</a></td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}