{% extends 'astone_admin/base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid px-4">
    <h1 class="mt-4">View Reward Request</h1>

</div>





<div class="container mt-5">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Request Id</th>
                <th>User Id</th>
                <th>Username</th>
                <th>Requested Amount</th>
                <th>Requested On</th>
                <th>Payment Status</th>
                <th></th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            {% for i in rewards %}
            <tr>
                <td>{{i.pk}}</td>
                <td>{{i.userid}}</td>
                <td>{{i.username}}</td>
                <td>{{i.rewardamount}}</td>
                <td>{{i.requestedon|date:"d-m-Y"}}</td>
                <td>{{i.paymentstatus}}</td>
                <td><a href="{% url 'update_request' i.pk %}" class="btn btn-primary">Update</a></td>
                <td><a href="{% url 'delete_request' i.pk %}" class="btn btn-danger">Delete</a></td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}