{% extends 'astone_admin/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid px-4">
    <h1 class="mt-4">View Sold Products        <a href="{% url 'view_soldproducts' %}" class="btn btn-success"><i class="fas fa-sync-alt"></i></a></h1>    
</div>

<div class="container mt-5">

    <form method="get" class="mb-4">
        <div class="input-group">
            <input type="text" name="query" class="form-control" placeholder="Search By Product Name / Product Code / Coupon Code">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
    


    <form method="get">
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="category">Category</label>
                <select name="category" class="form-select">
                    <option value="">Select Category</option>
                    {% for i in pcategory %}
                    <option value="{{i.category}}">{{i.category}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4 mb-3">
                <label for="subcategory">Subcategory</label>
                <select name="subcategory" class="form-select">
                    <option value="">Select Category</option>
                    {% for i in psubcategory %}
                    <option value="{{i.name}}">{{i.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4 mb-3">
                <label for="price_from">Price From</label>
                <input type="text" name="price_from" class="form-control" placeholder="Enter Price From">
            </div>
            <div class="col-md-4 mb-3">
                <label for="price_to">Price To</label>
                <input type="text" name="price_to" class="form-control" placeholder="Enter Price To">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Apply Filters</button>
    </form>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="list-style-type:none; color:green; text-align:center; font-size:18px; font-weight:600;">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <br>

    <hr> 
    


    <form method="post" action="{% url 'delete_soldproducts' %}">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <h5 style="text-align:center;">Number Of Sold Products in Inventory: <span style="color:green;">{{ num_products }}</span></h5>
                <span style="color:white;"><hr></span>

                <div class="col-12 d-flex justify-content-center align-items-center">

                    <button type="submit" class="btn btn-danger">Clear Inventory</button>
                </div>
            </div>
        </div>
        <br>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>                    
                        <label>
                            <input type="checkbox" id="select-all-checkbox"> Select All
                        </label>
                    </th>
                    <th>Unique Id</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Subcategory</th>
                    <th>Product Code</th>
                    <th>MRP</th>
                    <th>Reward Amount</th>
                    <th>Coupon Code</th>
                    <th>QR Code</th>

                </tr>
            </thead>
            <tbody>
                {% for i in products %}
                <tr>
                    <td>
                        <input type="checkbox" name="selected_items" value="{{i.pk}}">
                    </td>
                    <td>{{i.pk}}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.category}}</td>
                    <td>{{i.subcategory}}</td>
                    <td>{{i.productcode}}</td>
                    <td>₹{{i.MRP}}</td>
                    <td>₹{{i.reward_amount}}</td>
                    <td>{{i.coupon_code}}</td>
                    <td><a href="{{i.imageURL}}" target="_blank"><img src="{{i.imageURL}}" alt="QR Code" height="60px"></a></td>

                </tr>
                {% endfor %}
                <!-- Add more rows as needed -->
            </tbody>
        </table>
    </form>
</div>

<script>
    // Function to toggle all checkboxes when the "Select All" checkbox is clicked
    document.getElementById('select-all-checkbox').addEventListener('change', function () {
        var checkboxes = document.querySelectorAll('input[type="checkbox"][name="selected_items"]');
        checkboxes.forEach(function (checkbox) {
            checkbox.checked = document.getElementById('select-all-checkbox').checked;
        });
    });
</script>


{% endblock %}